/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.container{
  display: flex;
  height: 500px;
  flex-wrap: wrap;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.rotateTicks :global(.d3-axis-tick-bottom) {
  transform: rotate(30deg) translate(10px, 10px)
}

.rotateTicks :global(.d3-axis-label-bottom) {
  transform: translateY(10px)
}